@tailwind base;
@tailwind components;
@tailwind utilities;

/* .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-link {
    margin: 0 5px;
} */
